{{define "content"}}
<div class="border1">
    <h1 class="title">Random Joke</h1>
<hr>
    <p class="border2">{{.RandomJoke.Setup}}</p>
    <hr>
    <p class="paragraph">{{.RandomJoke.Punchline}}</p>
</div>

    <div class="refresh">
<button type="submit"  onClick="refreshPage()" class="button button2">NEW JOKE</button>
    </div>

{{end}}